/* 
    Created on : 09.11.2015, 13:13:54
    Author     : Ron Gebauer <mail@ron.gebauers.org>
    Version    : 1
*/

.root{
    -fx-background-color: black;
    -fx-text-fill: white;
}

.button, .toggle-button {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.button:hover, .toggle-button:hover {
    -fx-background-color: #0099ff;
}

.button:armed, .toggle-button:selected {
    -fx-background-color: red;
}

.label {
    -fx-font-family: Helvetica Neue;
    -fx-text-fill: white;
    -fx-effect: innershadow( three-pass-box , rgba(35,178,177,0.7) , 6, 0.0 , 0 , 2 );
}

#weekdayLabel {
    -fx-font-style: Condensed Bold;
    -fx-font-size: 50px;
    -fx-text-alignment: right;
}

.timeLabel {
    -fx-font-style: Condensed Black;
    /*    -fx-font-size: 90px;*/
    -fx-text-alignment: center;
}
.alarmLabel {
    -fx-text-fill: red;
    
}
#timeBox{-fx-font-size: 90px;}
#dateLabel {
    -fx-font-style: Condensed Bold;
    -fx-font-size: 50px;
    -fx-text-alignment: right;
}