/* 
    Created on : 09.11.2015, 13:13:54
    Author     : Ron Gebauer <mail@ron.gebauers.org>
    Version    : 1
*/

.root{
    -fx-background-color: #000;
    -fx-text-fill: #fff;
}

.label {
    -fx-font-family: Helvetica Neue;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

#weekdayLabel {
    -fx-font-style: Condensed Bold;
    -fx-font-size: 50px;
}

#timeLabel {
    -fx-font-style: Condensed Black;
    -fx-font-size: 90px;
}

#dateLabel {
    -fx-font-style: Condensed Bold;
    -fx-font-size: 50px;
}